@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.Contenedor_Principal {
  font-family: "Roboto Condensed", sans-serif;
  display: grid;
  grid-template-columns: 250px 310px 2fr;
  gap: 20px;
  padding: 40px;
  min-height: 90vh;
  align-items: center;
  background-image: url('../Img/Fondo.jpg'); 
  background-size: cover;
  background-position: center;
}

.Perfil_Principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Foto_Perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px 0;
  border: 3px solid#fdf3dd;
}

.Foto_Perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn_Claro {
  background-color: #fdf3dd;
  border: 1px solid #000000;
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 25px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.Badge_Notificaciones {
  background-color: #05924e;
  color: #fdf3dd;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.icon { 
  width: 25px; 
  height: 25px; 
}

.Texto_Bienvenida {
  background-color:#fdf3dd;
  border-radius: 40px;
  padding: 40px 20px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.Texto_Bienvenida h2 {
  font-size: 2.2rem;
  color: #000000;
  text-align: center;
}

.Texto_Bienvenida img {
  width: 100%;
  max-width: 220px;
}

.Servicios {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Card_Principal {
  background-color:#05924e;
  color:#fdf3dd;
  border-radius: 35px;
  padding: 35px;
  display: flex;
  justify-content: space-between; 
  height: 220px;
}

.Card_Principal h3 { 
  font-size: 2.8rem; 
  margin: 0; 
}

.Fila_Inferior {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.Card_Small {
  background-color:#fdf3dd;
  color: #05924e;
  border-radius: 35px;
  padding: 30px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Imagen arriba, texto abajo */
  align-items: center;
}

.Card_Small p {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.Icono_card {
  width: 100px;
  height: auto;
}

.Icono_Small {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.btn_mas {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 10;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: transparent;
  border: 2px solid currentColor; 
  color: inherit; 
}

.btn_mas:hover {
  transform: scale(1.1);
  background-color:#05924e70;
}

.Card_Principal, .Card_Small {
  position: relative;
}


@media (max-width: 1100px) {
  .Contenedor_Principal {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .Texto_Bienvenida { height: auto; }
}